Django>=4.2.7,<4.3
djangorestframework>=3.15.2,<3.16
drf-spectacular>=0.27.1,<0.28
requests>=2.31.0,<2.33
django-cors-headers>=3.13.0,<3.14
django-admin-tools>=0.9.3,<1.0
coverage>=7.4.1,<7.5
Pillow>=10.3.0,<10.4
django-browser-reload>=1.17.0,<1.18

# Not required for local dev
psycopg2>=2.9.3,<2.10
uwsgi>=2.0.20,<2.1